h2{
    font-family: "Platypi", serif;
    font-size: 4x;
    text-align: center;
    color: crimson;
    background-color: darksalmon;
}
h4{
    text-align: center;
    font-size: x-large;
    color: rgb(56, 33, 189);
    text-decoration: underline;
}
div{
    margin: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
    border: 3px solid red;
    border-radius: 13px;
    width: fit-content;
}
.my-btn{
    align-content: center;
    font-size: x-large;
    color: rgb(241, 225, 240);
    border: 4px solid rgba(41, 7, 141, 0.578);
    padding: 6px;
    border-radius: 13px ;
    background-color: rgb(20, 220, 157);
    margin-left: 40%;
    }
.about-Para{
    color: brown;
}
